/* src/Pages/SignIn.css */
.signin-container {
    height: 100vh; 
    background-image: url('../Images/manor.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; 
  }
  
  .signin-form {
    background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background for readability */
    padding: 30px;
    width: 300px; /* Adjust width as needed */
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signin-title {
    color: #cfcfcf; /* Light grey color for the title */
    font-family: 'Creepster', cursive; /* Spooky font */
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8); /* Deep shadow effect */
  }
  
  .signin-label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .signin-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .signin-button {
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    padding: 15px 30px; /* Wider padding for larger button */
    background-color: #444; /* Dark button background */
    border: 2px solid #888; /* Grey border */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); /* Dark shadow */
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .signin-button:hover {
    background-color: #666; /* Lighter background on hover */
    color: #fff;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.7); /* Subtle glow effect */
    transform: scale(1.05); /* Slight zoom effect */
  }
  
  .signin-button:active {
    background-color: #333; /* Darker background when clicked */
    transform: scale(0.95); /* Slight press effect */
  }
  